header {
    background-color: black;
    /* color: red;
    margin: 0;
    padding: 0; */
    text-align: center;
    padding: 0;
}
/* 
h1 {
    background-color:red;
    color: white;
    width: 4.5em;
    text-align: center;
    margin-top: 0;
} */

body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

.thumbnails {
    width: 10em;
}
.logo {
    width: 20%;
    margin: 0;
    /* margin: 1em; */
}

.listitem-class {
    color: Blue;
    background: yellow;
    height: 20px;

}

/* .App {
    background-color: black; 
    margin: 0;
    padding: 0;
}   */